// DEFAULT RULES
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


// MAIN CODE
.container {
    width: 1170px;
    margin: auto;
}

input {
    outline: none;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.d-inline-block {
    display: inline-block;
}